body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:	 #6666ff;
   
}
  

.container {
    width: 500px;
    height: 400px;
    background-color: #663dff;
    background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 5px gray;
}

h1 {
    color: white;
    margin: 0;
}

.img1 {
    width: 400px;
    object-fit: cover;
}



.btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.btn button:hover{
    font-size: 19px;
    scale: 1;
    background-color: #08052f;
}

.btn button {
    padding: 10px 40px;
    border: none;
    border-radius: 30px;
    background-color: #0c0561;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.btn button:hover {
    opacity: 0.8;
}